.container {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px;
  padding-bottom: 1rem;
  align-items: center;
}

main {
  padding: 1rem 0;
}

.active {
  font-weight: 700;
}
